.hi {
    color: rgb(0, 116, 218);
  border: 2px solid;
  border-radius: 10px;
  padding: 1ch;
  text-align: center;
  white-space: nowrap;
 width: max-content;
 border-color: aquamarine;
}

body{
    background-color: rgb(68, 67, 67);
    }
a{
    color: aquamarine;
}